build --cxxopt=-std=c++14
build --copt=-Wno-sign-compare
build:opt -c opt --copt=-Ofast --copt=-mfpmath=sse

test:dbg --test_output=streamed
test --test_output=summary
test --action_env=CUDA_VISIBLE_DEVICES=""
